/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 mar 2025, 10:25:28
    Author     : Angie
*/

/* Estilos generales */
body {
    display: flex;
    min-height: 10vh;
    margin: 0;
}

/* Titulos */
h3 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #2c6e49;
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para efecto 3D */
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

h3:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para efecto 3D */
    transition: transform 0.3s ease-in-out;
}

/* Tablas */

table {
    width: 70%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0.6, 0.6, 0.6);
    margin: auto;
}

th, td {
    border: 1px solid #065127;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2c6e49;
    color: white;
    font-weight: bold;
    text-align: center;
}

tr:hover {
    background-color: #a1e59d;
}

input, select {
    width: 80%;
    padding: 6px;
    border: 2px solid #e0e6e0;
    border-radius: 6px;
    font-size: 14px;
}

select {
    padding: 6px;
    border: 2px solid #e0e6e0;
    border-radius: 6px;
    font-size: 14px;
}

.campos-container {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espacio entre los elementos */
}

.campos-container label {
    white-space: nowrap; /* Evita que las etiquetas se dividan en varias líneas */
}

.campos-container select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.radio-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
}

.radio-container label {
    display: flex;
    align-items: center; /* Alinea el texto con el radio button */
    gap: 5px; /* Espacio entre el botón y el texto */
}

/* Botones */

input[type="submit"],
input[type="button"] {
    width: 10%;
    padding: 7px 14px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    justify-content: center; 
}

input[type="submit"] {
    background-color: #2E7D32;
    color: white;
    border-radius: 10px;
}

input[type="button"] {
    background-color: #d32f2f;
    color: white;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #1B5E20;
    transform: scale(1.05);
}

input[type="button"]:hover {
    background-color: #b71c1c;
    transform: scale(1.05);
}

/* Botones */

.submit, .button {
    padding: 7px 14px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    margin-top: 12px;
}

.submit {
    background-color: #2E7D32;
    color: white;
    border-radius: 10px; 
}

.submit:hover {
    background-color: #1B5E20;
    transform: scale(1.05);
}

.button {
    background-color: #d32f2f;
    color: white;
    border-radius: 10px; 
}

.button:hover {
    background-color: #b71c1c;
    transform: scale(1.05);
}

.botones-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    gap: 15px; /* Espacio entre botones */
    margin-top: 20px; /* Espacio con la tabla */
}

.content {
    flex-grow: 1;
    overflow-x: auto;
    margin-left: 240px; /* Desplazar el contenido a la derecha */
    padding: 20px;
}

.contenedor {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Responsivo */
@media (max-width: 768px) {
    form {
        width: 80%;
    }
    .table {
        width: 85%;
    }
    .permiso-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

}
