body {
    background: linear-gradient(to right, #145a32, #28a745); /* Degradado suave */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.right-section {
    flex: 1;
    padding: 40px;
    background: #ffffff; /* Fondo blanco */
    border-radius: 10px;
}

.login-box {
    background: linear-gradient(to right, #ffffff, #f1f1f1); /* Degradado suave dentro del formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.login-box h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #388e3c; /* Verde para el título "GESTION HUMANA" */
    font-weight: bold;
}

.login-box h1 {
    font-size: 1.8em;
    margin-bottom: 30px;
    color: #388e3c; /* Verde para el título "INICIAR SESIÓN" */
    font-weight: normal;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box img.icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    pointer-events: none; /* Para que el icono no interfiera con el campo de texto */
}

.input-box input {
    width: calc(100% - 50px); /* Ajuste del campo de texto para que el icono quede dentro */
    padding: 12px 20px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
}

.input-box input:focus {
    border: 2px solid #388e3c; /* Cambia el borde al hacer focus */
}

.forgot-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.btn-login {
    background-color: #28a745; /* Botón verde */
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: #388e3c; /* Cambio de color al pasar el cursor */
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}
