/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 mar 2025, 14:32:38
    Author     : Angie
*/
.card {
    border: 2px solid #2e7d32; /* Verde oscuro */
    background: #2c6e49;
    width: 340px;
    padding: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
    margin: 20px auto;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.titulo h2 {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-group {
    margin: 15px 0;
}

label {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #e8f5e9; /* Verde claro */
    margin-bottom: 6px;
}

input {
    width: 92%;
    padding: 10px;
    border: 2px solid #1b5e20; /* Verde oscuro */
    background-color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input:focus {
    border-color: #66bb6a; /* Verde vibrante */
    box-shadow: 0px 0px 6px rgba(102, 187, 106, 0.7);
    transform: scale(1.02);
}

button {
    background: #1b5e20;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

button:hover {
    background: #2e7d32;
    transform: scale(1.05);
}

#requisitosClave {
   background: linear-gradient(to bottom, #0f3d25, #166534, #1e8449, #2e8b57);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#requisitosClave p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#requisitosClave ul {
    list-style: none;
    padding: 0;
}

#requisitosClave li {
    font-size: 14px;
    padding: 8px;
    background: white;
    color: #1b5e20;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out, transform 0.2s;
}

#requisitosClave li::before {
    content: "➖"; /* Símbolo de check */
    font-weight: bold;
    color: #1e8449;
    font-size: 16px;
}

#requisitosClave li:hover {
    background: #2ecc71;
    color: white;
    transform: scale(1.03);
}

/* Se ajusta segun al menú */
.content {
    flex-grow: 1;
    overflow-x: auto; 
    margin-left: 220px; /* Desplazar el contenido a la derecha */
    padding: 20px;
}